@use 'global-variables' as *;
.cookie-container {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	border-top: 0.05rem solid $color-border;
	background-color: white;
}

.cookie-text-wrapper {
	text-align: center;
	padding: 0.25% 8% 0.25% 6%;
	font-size: 0.75rem;
}

.cookie-text > a {
	color: $color-live;
}

.cookie-closebutton {
	position: absolute;
	top: 0;
	right: 1%;
	color: $color-primary;
	font-size: 1rem;
	cursor: pointer;
	z-index: 10000;
	&:after {
		content: '✖';
	}
}
