@use 'global-variables' as *;
.sendpasswordtoken-container,
.resetpassword-container {
	position: relative;
	margin-top: 0.75rem;
	width: 100%;
	min-height: 100%;
	max-width: 40rem;
}

.sendpasswordtoken-wrapper {
	border: 0.05rem solid $color-border;
	border-radius: 0.2rem;
	box-sizing: border-box;
	background-color: $color-hover;
}

.sendpasswordtoken-form,
.resetpassword-form {
	margin: 0.75rem 0;
}

.sendpasswordtoken-text {
	padding: 1rem;
}

.sendpasswordtoken-email-wrapper,
.resetpassword-password-wrapper {
	position: relative;
	margin: 0 1rem;
}

.sendpasswordtoken-email,
.resetpassword-password {
	width: 100%;
	height: 3rem;
}

.sendpasswordtoken-bottom {
	position: relative;
	min-height: 3rem;
	width: 100%;
}

.sendpasswordtoken-sendbutton-wrapper,
.resetpassword-sendbutton-wrapper {
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
}

.sendpasswordtoken-sendbutton,
.resetpassword-sendbutton {
	position: relative;
	right: 1rem;
	bottom: 0.25rem;
	background-color: $color-primary !important;
	color: $color-dirtywhite !important;
}
