@use 'global-variables' as *;
.password-container {
    position: relative;
    margin-top: 0.75rem;
    width: 95%;
    min-height: 100%;
    max-width: 40rem;
}
@media screen and (min-width: $media-bp-medium) {
    .password-container {
        width: 100%;
    }
}

.password-wrapper {
    border: 0.05rem solid $color-border;
    border-radius: 0.2rem;
    box-sizing: border-box;
    background-color: $color-hover;
}

.sendpassword-form,
.resetpassword-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sendpassword-form > div,
.resetpassword-form > div {
    margin: 1rem 1.5rem 0;
}

.sendpassword-email-wrapper,
.resetpassword-password-wrapper {
    position: relative;
    margin: 0 1rem;
    width: 90%;
}
@media screen and (min-width: $media-bp-medium) {
    .sendpassword-email-wrapper,
    .resetpassword-password-wrapper {
        width: 20rem;
    }
}

.sendpassword-email,
.resetpassword-password {
    height: 3rem;
    width: 100%;
}

.sendpassword-bottom,
.resetpassword-bottom {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    min-height: 3rem;
}
@media screen and (max-width: $media-bp-medium) {
    .sendpassword-bottom,
    .resetpassword-bottom {
        justify-content: center;
    }
}

.sendpassword-button,
.resetpassword-button {
    position: relative;
    width: 7.5rem;
    height: 2rem;
    background-color: $color-primary !important;
    color: $color-dirtywhite !important;
}
