@use 'global-variables' as *;
@mixin transition($property, $duration, $timing: ease) {
    -webkit-transition: $property $duration, $timing;
    -moz-transition: $property $duration $timing;
    -ms-transition: $property $duration $timing;
    -o-transition: $property $duration $timing;
    transition: $property $duration $timing;
}

@mixin transform($transforms...) {
    $transform-list: join($transforms, null, space);

    -webkit-transform: $transform-list;
    -moz-transform: $transform-list;
    -ms-transform: $transform-list;
    -o-transform: $transform-list;
    transform: $transform-list;
}

.topbar-container {
    position: fixed;
    width: 100%;
    height: 2.5rem;
    top: 0;
    left: 0;
    background-color: $color-primary;
    z-index: 100;
}

.topbar-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0.25rem;
}
@media screen and (min-width: $media-bp-medium) {
    .topbar-wrapper {
        margin: 0 0.5rem;
    }
}

.logo-container {
    display: inline-flex;
    position: relative;
    width: 20%;
    min-width: 6rem;
    vertical-align: top;
}

.logo {
    position: relative;
    height: 2.5rem;
    width: 2.677rem;
    background: url('../assets/logo-min.webp') no-repeat top center;
    background-size: cover;
}
.textlogo {
    position: relative;
    left: 0.25rem;
    height: 2.5rem;
    width: 3.75rem;
    background: url('../assets/textlogo-min.webp') no-repeat center center;
    background-size: auto 2.25rem;
}

.menu-container {
    display: inline-flex;
    position: relative;
    width: 80%;
    max-width: calc(100% - 7rem);
    justify-content: flex-end;
}
@media screen and (min-width: $media-bp-medium) {
    .menu-container {
        justify-content: space-between;
    }
}

.topbar-item {
    @include transition(color, 0.5s, ease-out);
    &:hover {
        color: $color-hover;
        &:after {
            @include transform(scaleX(1));
        }
    }
    &:after {
        content: '';
        position: absolute;
        width: calc(100% - 0.5rem);
        height: 0.1rem;
        bottom: 0.15rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: $color-hover;
        @include transform(scaleX(0));
        @include transition(transform, 0.5s, ease-out);
    }
}
@media screen and (min-width: $media-bp-small) {
    .topbar-item {
        &:after {
            width: calc(100% - 1rem);
        }
    }
}
@media screen and (min-width: $media-bp-medium) {
    .topbar-item {
        &:after {
            width: calc(100% - 1.5rem);
        }
    }
}

.main-search-container {
    display: inline-flex;
    position: relative;
    min-width: 3rem;
    height: 2.5rem;
    vertical-align: top;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: $media-bp-medium) {
    .main-search-container {
        width: 50%;
        min-width: 2rem;
        color: inherit !important;
        &:after {
            content: none !important;
        }
    }
}
@media screen and (min-width: $media-bp-large) {
    .main-search-container {
        margin-left: 6rem;
        max-width: 30rem;
    }
}

@media screen and (max-width: $media-bp-medium) {
    .main-search-container-active {
        position: fixed !important;
        width: 100% !important;
        left: 0 !important;
        margin: 0 !important;
        color: inherit !important;
        background-color: rgba(0, 0, 0, 0.75) !important;
        border-bottom: groove !important;
        pointer-events: auto !important;
        z-index: 10 !important;
        &:after {
            content: none !important;
        }
    }
}

.search-container {
    display: inline-block;
    position: relative;
    width: 2rem;
    height: auto;
}
@media screen and (min-width: $media-bp-small) {
    .search-container {
        width: 3rem;
    }
}
@media screen and (min-width: $media-bp-medium) {
    .search-container {
        width: calc(100% - 3.25rem);
        height: 2rem;
    }
}

.search-container-active {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 3.75rem);
    height: 2.5rem;
}
@media screen and (min-width: $media-bp-medium) {
    .search-container-active {
        position: relative;
        width: calc(100% - 3.25rem);
        height: 2rem;
    }
}

.search-top {
    position: relative;
    width: 100%;
    height: 2rem;
    background: url('../assets/search-min.webp') no-repeat scroll 1rem;
    background-color: $color-dirtywhite;
    background-size: 0.8rem 0.8rem;
    padding-left: 2.25rem !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    @include transition(background-color, 0.25s);
}
@media screen and (max-width: $media-bp-medium) {
    .search-top {
        padding-left: 2.5rem !important;
        filter: invert(100%);
        border: none !important;
        background-color: inherit !important;
        height: 2.5rem !important;
        box-shadow: none !important;
        background-size: 1rem 1rem !important;
        transition: none !important;
        cursor: pointer;
    }
    .search-top-active {
        padding-left: 2.5rem !important;
        border-radius: 0 !important;
        height: 2.5rem !important;
        filter: none !important;
        background-size: 0.8rem 0.8rem !important;
        background-color: $color-dirtywhite !important;
    }

    .search-top-mobile-wrapper {
        display: block !important;
    }

    .search-top-mobile-wrapper-active {
        display: none !important;
    }

    .search-top-mobile {
        display: block !important;
        position: absolute;
        top: 0.75rem;
        right: 1rem;
        color: #fff;
        cursor: pointer;
    }
}
.search-top:focus {
    padding-top: 10px !important;
}

.search-top-mobile-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.search-top-mobile {
    display: none;
}

.search-clear {
    display: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}
@media screen and (min-width: $media-bp-medium) {
    .search-clear {
        top: 0.25rem;
    }
}

.search-clear-active {
    display: block;
}

.btn-search {
    position: relative;
    height: 2rem;
    width: 3.25rem;
    background-color: $color-dirtywhite;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    border-left: groove;
    box-sizing: border-box;
    text-align: center;
    padding-top: 0.25rem;
    cursor: pointer;
    @include transition(background-color, 0.25s);
    &:hover {
        background-color: white;
    }
}
@media screen and (max-width: $media-bp-medium) {
    .btn-search {
        display: none;
    }
    .btn-search-active {
        display: block !important;
        position: absolute;
        top: 0;
        right: 0;
        width: 3.75rem !important;
        height: 2.5rem !important;
        border-radius: 0 !important;
        padding-top: 0.5rem !important;
    }
}

.search-dropdown {
    position: absolute;
    top: 2.25rem;
    width: 100%;
    border: 0.05rem solid $color-primary;
    border-radius: 0.2rem;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 100;
    overflow: auto;
}
@media screen and (max-width: $media-bp-medium) {
    .search-dropdown {
        top: 2.5rem;
    }
}

.search-dropdown > a {
    color: $color-primary;
    text-decoration: none;
}

.search-dropdown-topic-wrapper {
    background-color: white;
    padding: 0.3rem 0.5rem;
    &:hover {
        background-color: $color-hover;
    }
}

.search-dropdown-topic-categoryname {
    position: relative;
    left: 0.25rem;
}

.topbar-toggleleftframe-container {
    display: none;
}
@media screen and (max-width: $media-bp-medium) {
    .topbar-toggleleftframe-container {
        display: flex;
        min-width: 2rem;
        height: 2.5rem;
        position: relative;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        cursor: pointer;
    }
}

.topbar-toggleleftframe-icon {
    width: 1rem;
    height: auto;
    filter: invert(100%);
}

.menu-nav {
    display: inline-flex;
    position: relative;
    top: 0;
    font-family: $font-menu;
    list-style: none;
    border: 0 none;
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: $media-bp-small) {
    .menu-nav {
        justify-content: flex-end;
    }
}
@media screen and (min-width: $media-bp-medium) {
    .menu-nav {
        font-size: 1rem;
    }
}

.menu-item-wrapper {
    text-decoration: none;
}

.menu-item {
    display: block;
    position: relative;
    max-height: 100%;
    width: auto;
    color: $color-dirtywhite;
    padding: 0 0.25rem;
    line-height: 2.5rem;
    text-decoration: none;
    max-width: 3rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
@media screen and (min-width: $media-bp-small) {
    .menu-item {
        padding: 0 0.75rem;
    }
}
@media screen and (min-width: $media-bp-medium) {
    .menu-item {
        min-width: 5rem;
        max-width: 10rem;
        padding: 0 1rem;
    }
}
@media screen and (min-width: $media-bp-large) {
    .menu-item {
        max-width: 15rem;
        padding: 0 1rem;
    }
}

.menu-item-login:before {
    content: 'GİRİŞ';
}
@media screen and (min-width: $media-bp-medium) {
    .menu-item-login:before {
        content: 'GİRİŞ YAP';
    }
}

.menu-item-register:before {
    content: 'KAYIT';
}
@media screen and (min-width: $media-bp-medium) {
    .menu-item-register:before {
        content: 'KAYIT OL';
    }
}

.menu-item-logout:before {
    content: 'ÇIKIŞ';
}
@media screen and (min-width: $media-bp-medium) {
    .menu-item-logout:before {
        content: 'ÇIKIŞ YAP';
    }
}

.menu-item-inbox:before {
    content: 'MESAJ ';
}

.menu-item-inbox-unread {
    color: $color-primary;
    background-color: white;
}

.menu-item-separator {
    position: relative;
    width: 2.5%;
    color: $color-dirtywhite;
    text-align: center;
}
.menu-item-separator:before {
    font-weight: bold;
    content: '\00B7';
}
